.container {
            display: flex;       
            justify-content: space-around; 
 
            padding: 20px;
            height: 200px;
        }
        body{background:rgb(11, 11, 70)}

.lopgotip{position: relative;
left: 100px;
top: 45px;}


.nav-list {
  display: flex;
  list-style: none;
  gap: 60px; 
  position: relative;
  left: 849px;

}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.Contact{width: 152px;
height: 52px;
background: linear-gradient(blue,purple);
position: relative;
bottom: 15px;
border-radius: 5px;}


.img-saly{position: relative;
left: 873px;}

.h1{position: relative;
  bottom: 600px;
left: 137px;
width: 546px;
height: 169px;
font-size: 68px;
color: rgb(145, 28, 255);
}

.text-header{position: relative;
left: 137px;
bottom: 640px;
height: 59px;
width: 534px;
font-size: 17px;
color: #E5E7EB;
line-height: 150%;
}

.btn-img{position: relative;
left: 137px;
bottom: 580px;
width: 150px;
height: 75px;
border-radius: 10px;
 background: linear-gradient(blue,purple);}

 .img-watch{position: relative;
bottom: 565px;
left: 236px;}


  .Our-Service{text-align: center;
          justify-content: start;
        justify-content: space-between;
      align-items: start}

      .Our{color: white;
      width: 237px;
    height: 55px;
    font-size: 42px;
  position: relative;
left: 804px;
bottom: 300px;}

.Lorem{color: white;
width: 587px;
height: 52px;
font-size: 16px;
position: relative;
left: 627px;
bottom: 300px;}


      .card-1{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 325px;
bottom: 300px;
}


 .card-2{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 725px;
bottom: 637px;}

 .card-3{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left: 1125px;
bottom: 977px;}

 .card-4{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 325px;
bottom: 925px;}

 .card-5{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left: 725px;
bottom: 1260px;}

 .card-6{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left:1125px;
bottom: 1600px;}

.h5{color: white;
width: 221px;
height: 31px;
font-size: 24px;
position: relative;
left: 75px;
top: 20px;}

.text{color: white;}

.link-card{color: white;}

.img-card{position: relative;
;}

.img-card{position: relative;
top: 35px;}


.h22{position: relative;
width: 285px;
 height: 55px;
font-size: 42px;
line-height: 100%;
left: 750px;
color: white;
bottom: 1410px;}


.pp–∑{position: absolute;
  top: 100px;
width: 480px;
height: 51px;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: white;
left: 720px;
top: 2200px; 
text-align: center;}

.box {position: relative;
  width: 270px;
height: 266px;
background-color: rgb(9, 9, 27);
bottom: 1200px;
right: 100px;
border-radius: 50px;}

.img{width: 90px;
height: 90px;
border-radius: 100%;
position: relative;
left: 86px;
top: 32px;}

.name{position: relative;
width: 155px;
height: 56px;
font-size: 18px;
line-height:100%;
color: white;
left: 78px;
top: 30px;}

.ppppp{position: relative;
left: 65px;
bottom: 24px;
color: white;
width: 158px;
height: 21px;
font-size: 20px;
top: 1px;
}

.img22{position: relative;
left: 81px;
top: 10px;
}

.ppppp1{position: relative;
left: 65px;
bottom: 24px;
color: white;
width: 158px;
height: 21px;
font-size: 16px;
top: 1px;
}

.ppppp2{position: relative;
left: 35px;
bottom: 24px;
color: white;
width: 198px;
height: 21px;
font-size: 16px;
top: 1px;
}

.pppp1p{position: relative;
left: 55px;
bottom: 24px;
color: white;
width: 198px;
height: 21px;
font-size: 16px;
top: 1px;
}

.burger{
  display: none;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 600px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

  .burger {
    display: block;
  }

  #menu-taggle:checked +.burger +.nav-links {
    display: flex;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
left: 0;
width: 100%;
flex-direction: column;
gap: 15px;
padding: 20px;
background: white;
  }
}