.container {
            display: flex;       
justify-content: space-around; 
            padding: 20px;
            height: 200px;
            margin: auto;
            
        }
        body{background:rgb(11, 11, 70)}

.lopgotip{position: relative;
left: 100px;
top: 45px;}


.nav-list {
  display: flex;
  list-style: none;
  gap: 60px; 
  position: relative;
  left: 849px;

}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.Contact{width: 152px;
height: 52px;
background: linear-gradient(blue,purple);
position: relative;
cursor: pointer;
bottom: 15px;
border-radius: 5px;}




.img-saly{position: relative;
left: 873px;}

.h1{position: relative;
  bottom: 600px;
left: 137px;
width: 546px;
height: 169px;
font-size: 68px;
background: linear-gradient(90deg, rgba(37, 99, 235, 1) 0%, rgba(217, 70, 239, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;

}

.text-header{position: relative;
left: 137px;
bottom: 640px;
height: 59px;
width: 534px;
font-size: 17px;
color: #E5E7EB;
line-height: 150%;
}

.btn-img{position: relative;
left: 137px;
bottom: 580px;
width: 150px;
height: 75px;
border-radius: 10px;
 background: linear-gradient(blue,purple);}

 .img-watch{position: relative;
bottom: 565px;
left: 236px;}


  .Our-Service{text-align: center;
          justify-content: start;
        justify-content: space-between;
      align-items: start
    }

      .Our{color: white;
      width: 237px;
    height: 55px;
    font-size: 42px;
  position: relative;
left: 804px;
bottom: 200px;}

.Lorem{color: white;
width: 587px;
height: 52px;
font-size: 16px;
position: relative;
left: 627px;
bottom:   230px;}


.box-1{position: relative;
  top: 100px;
right: 50px;}

      .card-111{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 325px;
bottom: 300px;
}


 .card-2{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 725px;
bottom: 637px;}

 .card-3{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left: 1125px;
bottom: 977px;}

 .card-4{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
position: relative;
left: 325px;
bottom: 925px;}

 .card-5{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left: 725px;
bottom: 1260px;}

 .card-6{position: relative;
      width: 370px;
    height: 336px;
  border-radius: 50px;
background-color: rgb(9, 9, 27);
left:1125px;
bottom: 1600px;}

.h5{color: white;
width: 221px;
height: 31px;
font-size: 24px;
position: relative;
left: 75px;
top: 20px;}

.text{color: white;}

.link-card{color: white;}

.img-card{position: relative;
;}

.img-card{position: relative;
top: 35px;}

.box-3{position: relative;
  top: -100px;}

  .box-4{position: relative;
    top: -100px;}

.img111{position: relative;
  bottom: 1150px;
left: 250px;
width: 588px;
height: 588px;}

.h2-text2{position: relative;
bottom: 1600px;
left: 918px;
color: white;
width: 582px;
height: 110px;
font-size:42px;
line-height: 100%;
}


.loorem-text{
position: relative;
bottom: 1600px;
left: 918px;
color: white;
width: 679px;
height: 130px;
font-size: 16px;
line-height: 100%;
}

.button-text{position: relative;
bottom: 1500px;
left: 918px;
background: linear-gradient(blue,purple);
width: 99px;
cursor: pointer;
height: 31px;
border-radius: 5px}

.img1111{position: relative;
  bottom: 1650px;
left: 1150px;
width: 588px;
height: 588px;}


.img1111{position: relative;
  bottom: 1200px;
left: 950px;
width: 588px;
height: 588px;}


.h2-text22{position: relative;
bottom: 1700px;
left: 196px;
color: white;
width: 582px;
height: 110px;
font-size:42px;
line-height: 100%;
}

.loorem-text2{
position: relative;
bottom: 1700px;
left: 196px;
color: white;
width: 679px;
height: 130px;
font-size: 16px;
line-height: 100%;
}

.button-text2{position: relative;
bottom: 1600px;
left: 196px;
background: linear-gradient(blue,purple);
width: 99px;
height: 31px;
cursor: pointer;
border-radius: 5px}





.h22{position: relative;
width: 285px;
 height: 285px;
font-size: 36px;
line-height: 100%;
left: 750px;
color: rgb(255, 255, 255);
bottom: 1500px;}


.pp–∑{position: relative;
width: 480px;
height: 51px;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: white;
left: 420px;
bottom: 1430px;
}

.box {position: relative;
  width: 270px;
height: 266px;
background-color: rgb(9, 9, 27);
top: -1350px;
right: 300px;
border-radius: 50px;
margin: 10px;}

.img{width: 90px;
height: 90px;
border-radius: 100%;
position: relative;
left: 66px;
top: 32px;}

.name{position: relative;
width: 155px;
height: 56px;
font-size: 18px;
line-height:100%;
color: white;
left: 68px;
top: 30px;}

.ppppp{position: relative;
left: 65px;
bottom: 24px;
color: white;
width: 158px;
height: 21px;
font-size: 20px;
top: 1px;
}

.img22{position: relative;
left: 61px;
top: 10px;
}

.ppppp1{position: relative;
left: 65px;
bottom: 24px;
color: white;
width: 158px;
height: 21px;
font-size: 16px;
top: 1px;
}

.ppppp2{position: relative;
left: 35px;
bottom: 24px;
color: white;
width: 198px;
height: 21px;
font-size: 16px;
top: 1px;
}

.pppp1p{position: relative;
left: 55px;
bottom: 24px;
color: white;
width: 198px;
height: 21px;
font-size: 16px;
top: 1px;
}

@media (max-width: 728px) {.burger {
  display: block; }
 #menu-taggle:checked +.burger+.nav-bar .nav-links {
    display: flex;
  burger {
    display: block;
    
  }
#menu-taggle {
    display: none;
  } 

  #menu-taggle:checked+.burger+.nav-bar .nav-links {
    display: flex;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 70px;
left: 0;
width: 100%;
flex-direction: column;
gap: 15px;
padding: 20px;
background: white;
}


.navbar {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .Contact{display: none;
}

.hero {
  flex-direction: column;
  text-align: center;
  padding: 50px 20px;
}

.Contact{justify-content: center;} } }  